.main-block{
    background: var(--background);   
    max-width:100%;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 1;
    min-height: 50vh;
}

.story-input{
    padding: 20px;
}

.story-input-box{
    border-radius: 10px;
    border-color:rgba(0,0,0,0);
}

.story-title{
    padding: 10px;
    /* height: 5vh; */
    /* background: green; */
}

.story-story{
    font-family:Arial, Helvetica, sans-serif;
    background: #fdfceb;
    border-radius:10px;
    min-height: 40vw;
}

.story-content{
    padding: 10px;
}

.wait-phrase-enter {
    position: absolute;
    top: 5;
    left: 0;
    right: 0;
    opacity:0.01;
}
.wait-phrase-enter-active{
    opacity:1;
    transition: all 500ms;
}
.wait-phrase-exit{
    opacity:1;
}
.wait-phrase-exit-active {
    opacity:0.01;
    transition: all 500ms;
}