.main-block{
    background: var(--background);   
    max-width:100%;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 1;
    min-height: 50vh;
}

.story-input{
    padding: 10px;
}

.story-input-box{
    border-radius: 10px;
    border-color:rgba(0,0,0,0);
}

.story-title{
    padding: 10px;
}

.story-story{
    background: #fdfceb;
    border-radius:10px;
    min-height: 40vw;
}

.story-content{
    padding: 10px;
}

.read-aloud-button{
    background: rgba(0,0,0,0);
    border: none;
    color: var(--text);
}

.wait-phrase-enter {
    position: absolute;
    top: 5;
    left: 0;
    right: 0;
    opacity:0.01;
}
.wait-phrase-enter-active{
    opacity:1;
    transition: all 500ms;
}
.wait-phrase-exit{
    opacity:1;
}
.wait-phrase-exit-active {
    opacity:0.01;
    transition: all 500ms;
}

@keyframes rotate {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-icon {
    animation: rotate 3s infinite;
    color: var(--text);
}