
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #add8e9;
    color:rgb(40, 41, 38);
}

.timeline-header{
    color: var(--text);
}

.profile-header{
    color: var(--background);
    font-family: didactgothic;
}

.profile-desc{
    color: var(--background);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}

.profile-desc-trans-enter {
    opacity: 0.01;
}

.profile-desc-trans-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
}

.main-logo{
    width: 80%;
}

.quote-seuss{
    font-size:1.3em;
    font-family: indieflower;
}

@media (min-width: 568px) {  
    .quote-seuss{
        font-size:1.4em;
    }
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .main-logo{
        width: 50%;
        max-width: 400px;
    }
    .quote-seuss{
        font-size:1.5em;
    }
}

